<div class="p-3">

  <table class="table align-middle">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Selected</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products()">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price}}</td>
      <td>
        <button (click)="selected(product)" [ngClass]="{'btn-success': product.selected, 'btn-danger': !product.selected}" class="btn">
          {{ product.selected ? 'Selected' : 'Not Selected' }}
        </button>
      </td>
      <td ><button class="btn btn-outline-danger" (click)="deleteProduct(product)">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>
